<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422491588953-hnkrjokocj5vm3k1ebbbga02vdmehpn7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422491588953-hnkrjokocj5vm3k1ebbbga02vdmehpn7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>422491588953-sp4vnn3b9u4iq5h4rckgprqtlqbh1nsk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>***REMOVED***</string>
	<key>GCM_SENDER_ID</key>
	<string>422491588953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.datamatics.babuni</string>
	<key>PROJECT_ID</key>
	<string>babuni-app</string>
	<key>STORAGE_BUCKET</key>
	<string>babuni-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422491588953:ios:724be90ba0a8b3a72b6448</string>
</dict>
</plist>