# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Build artifacts
*.lock
*.bundle
android/app/src/main/assets/index.android.bundle
android/app/build/
ios/build/
ios/tmp.xcconfig

# Android-specific files
android/.gradle/
android/.idea/
android/app/src/prod/res/values/strings.xml
android/gradle.properties
local.properties
google-services*.json

# iOS-specific files
ios/Pods/
ios/ParentBuddyApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/ParentBuddyApp.xcodeproj/project.xcworkspace/xcuserdata*
ios/ParentBuddyApp.xcodeproj/xcuserdata*
ios/GoogleServices/**/GoogleService-Info*.plist
ios/**-Info.plist

# Environment files
.env*
env/*

# BUCK build system
buck-out/
\.buckd/

# Keystore files
*.keystore
!debug.keystore

# Gradle & other properties files
.gradle/
*.properties

# Miscellaneous
.DS_Store
*.hprof
data.realm
data.realm.management/
