node_modules
npm-debug.log
yarn-error.log
android/.gradle
android/app/build
ios/Pods
.DS_store
local.properties

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore
# .env added
.env
*.lock
ios/PodFile.lock
package-lock.json
*.bundle
android/app/src/main/assets/index.android.bundle
android/.idea/
.gradle/
package-lock.json
data.realm
data.realm.management/
android/gradle.properties
*.properties

*.properties
*.properties
android/gradle.properties
*.properties
