node_modules
npm-debug.log
yarn-error.log
android/.gradle
android/app/build
ios/Pods
.DS_store
local.properties

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore
# .env added
.env
*.lock
ios/PodFile.lock
package-lock.json
*.bundle
android/app/src/main/assets/index.android.bundle
android/.idea/
.gradle/
package-lock.json
data.realm
data.realm.management/
android/gradle.properties
*.properties

*.properties
*.properties
android/gradle.properties
*.properties
*.hprof


google-services.json
google-services_old.json
debug.keystore
*.keystore
ios/GoogleServices/Production/GoogleService-Info.plist
ios/GoogleServices/Xk/GoogleService-Info.plist
ios/ParentBuddyApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/ParentBuddyApp.xcodeproj/xcuserdata/kalyanikaushik.xcuserdatad/xcschemes/xcschememanagement.plist
ios/GoogleServices/Xk/GoogleService-Info_old.plist
ios/GoogleServices/Production/GoogleService-Info_new.plist
ios/ParentBuddyApp/Info.plist
ios/ParentBuddyAppXk-Info.plist
ios/ParentBuddyApp/Info.plist
ios/ParentBuddyAppXk-Info.plist
ios/GoogleServices/Development/GoogleService-Info.plist
ios/ParentBuddyApp/Info.plist
ios/GoogleServices/XkDevelopment/GoogleService-Info.plist
android/app/src/prod/res/values/strings.xml
# react-native-config codegen
ios/tmp.xcconfig

.envbebboprod
.envxk
.envxkdev
.envbebbodev


# sonar qube 
.scannerwork
