<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185520625819-fcdc8edjttcc2u48uusvh2mcq0ah6ap5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185520625819-fcdc8edjttcc2u48uusvh2mcq0ah6ap5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>185520625819-28tfc28j803gkc8j00avc93uus5uek1q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>***REMOVED***</string>
	<key>GCM_SENDER_ID</key>
	<string>185520625819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.datamatics.bebbo</string>
	<key>PROJECT_ID</key>
	<string>ecaro-bebbo</string>
	<key>STORAGE_BUCKET</key>
	<string>ecaro-bebbo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185520625819:ios:d3ae5218793a342ef30e3e</string>
</dict>
</plist>